body{
    background: url("../image/background.png") no-repeat;
    background-size: 100%;
    margin: 0 auto!important;
}
header{
    display: block;
    width:100%;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.head_block{
    width: 1366px;
    height: 58px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}

header .logo{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;

    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 18px 0px 0px 80px;
    float: left;
}
header .buttons_logo{
    display: inline-flex;
    align-items: center;
    float: right;
    height: 58px;
    margin-right: 80px;
}
.buttons_logo a{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* or 100% */

    color: white;
}
.buttons_logo p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* or 100% */

    color: white;
}

.buttons_logo .icon{
    margin-right:25px;
}

form{
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: fixed; 
    top: calc(50% - 526px/2);
    left: calc(50% - 444px/2);
}
form .sign{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */

    display: flex;
    align-items: center;
    text-align: center;
}

.top{
    margin: 30px 0px 0px 60px;
    display: inline-flex;
    width: calc(100% - 120px);
    justify-content: space-between;
    
}
.form_top_link{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;

    color: #3CB878;
}
form .buttons_form{
    display: inline-flex;
    margin: 13px 58px 0px 58px;
    width: 328px;
    justify-content: space-between;
}
form .button{
    display: inline-flex;
    width:160px;
    height: 48px;
    border-radius: 3px;
}
form .first{
    background: #305DB8;
}
form .first svg{
    height: 100%;
    margin: auto 0 auto 17px;
}
form .second{
    background: #DF4A32;
}
.first p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    display: flex;
    align-items: center;
    
    margin-left: 18px;
    color: #ffffff;
}

form .second .second_btn_svg_first{
    height:100%;
    margin-left: 12px;
}
form .second .second_btn_svg_second{
    height:100%;
    margin-left: 7px;
}
.second p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;

    display: flex;
    align-items: center;
    
    margin-left: 30px;
    color: #ffffff;
}
.separator {
    text-align: center;
    height: 0.5em;
    border-bottom: 2px solid #F2F2F2;
    margin: 20px auto 0px auto;
    width: 322px;
}
.separator:first-line {
    background-color: white;
    width: 5px;
}
.separator p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    background-color: white;
    width: 20px;
    margin: 0 auto;
}
.inputs{
    display: flex;
    flex-direction: column;
    width: 322px;
    margin: 0 auto;
}
.inputs input{
    margin-top: 15px;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 20px;
    color: #BEBEBE;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
.inputs input:focus{
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    outline: none;
}
.bottom_form{
    display: inline-flex;
    margin: 12px 0px 20px 62px;
    width: 328px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
.bottom_form input[type="checkbox" i]{
    margin:0px 8px 0px 0px;
}

.bottom_form a{
    color:#3CB878;
}

.bottom_button{
    width: 324px;
    height: 46px;
    margin: 0 auto;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
}
.bottom_button p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}
.bottom_button a{
    width: 324px;
}

header .logo:hover{
    color:#3CB878;
}
.icon_disabled{
    display: none;
}
header .icon:hover .icon_active{
    display: none;
}
header .icon:hover .icon_disabled{
    display: block;
}
header .link_header:hover{
    color:#3CB878;
}
.form_top_link:hover{
    color:#01813F;
    text-decoration: underline;
}
form .first:hover{
    background-color: #022263;
}
form .second:hover{
    background-color: #AB1F09;
}
.bottom_form a:hover{
    color: #01813F;
    text-decoration: underline;
}
.bottom_button:hover{
    background-color: #01813F;
}
.bottom_form label{
    display: inline-flex;
}